<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:maxSdkVersion="33" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBirdApp">
        <activity
            android:name=".Activities.MediaRecorderActivity"
            android:label="Media Recorder"
            android:parentActivityName=".Activities.BirdDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.BirdDetails" />
        </activity>

        <activity
            android:name=".Activities.PDFViewerActivity"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity" />

        <receiver
            android:name=".Activities.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activities.BirdDetails"
            android:exported="false"
            android:label="Bird Details"
            android:parentActivityName="Activities.BirdList">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.BirdList"
            android:exported="false"
            android:label="Bird List"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>